<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Service Locations</title>
  </head>
  <body>
    <h1>List Service Locations</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Contact Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for location in service_locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.address }}</td>
          <td>{{ location.contact_phone }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
